@import url(https://fonts.googleapis.com/css?family=Bungee);

:root {
    --big-dark: #2b2d42;
    --primary-blue: #1be7ff;
    --primary-green: #6eeb83;
    --primary-yellow: #e4ff1a;
    --primary-orange: #ffb800;
    --secondary-orange: #ff5714;
    font-family: 'Bungee';
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

body {
    display: flex;
    flex: 1;
    background: linear-gradient(-45deg, var(--primary-blue), var(--primary-green), var(--primary-yellow), var(--secondary-orange));
    background-size: 400% 400%;
    /* animation: gradient 15s ease infinite; */
}


.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    font-size: 16px;
}

.header{
    text-align: center;
    width: 100%;
    font-size: 3rem;
    color: var(--big-dark);
  
   
}

.sketchPane {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    flex-grow: 1;
    width: 100%;
}

.sketchModLeft,
.sketchModRight {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 130px;
    text-align: center;
    align-items: stretch;
}

input[type='color'] {
    -webkit-appearance: none;
    width: 80px;
    height: 80px;
    border: none;
    align-self: center;
    margin-bottom: 20px;
    background-color: transparent;
  }
  
  input[type='color']::-webkit-color-swatch-wrapper {
    padding: 0;
  }
  
  input[type='color']::-webkit-color-swatch {
    border: none;
    border-radius: 50px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  }

.sketchModLeft button {
    background-color: var(--big-dark);
    color: var(--primary-green);
    border: var(--big-dark) 2px solid;
    padding: 10px;
    margin-bottom: 30px;
    border-radius: 10px;
    font-family: 'bungee';
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.eraser {
    margin-top: 40px;
}

.space {
    margin-bottom: 80px;
}

.sketchModRight button {
    background-color: var(--big-dark);
    color: var(--primary-blue);
    border: var(--big-dark) 2px solid;
    padding: 10px;
    margin-bottom: 30px;
    border-radius: 10px;
    font-family: 'bungee';
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.footer {
    background-color: var(--big-dark);
    position: absolute;
    bottom: 0;
    left: 0;
    height: 30%;
    width: 100%;
}

.sketchContainer {
    width: 600px;
    height: 600px;
    padding: 0;
    font-size: 0;
    margin: 0px 20px;
}

.gridItem {
    background-color: var(--big-dark);
    border: var(--secondary-orange) 1px solid;
    margin: 0;
    padding: 0;
    border: none;
    outline: 1px solid #000;
    display: inline-block;
    border-radius: 3px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.gridSlider {
    color: var(--big-dark);
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80px;
    margin-top: 20px;
}

.slider {
    -webkit-appearance: none;
    /* Override default CSS styles */
    appearance: none;
    width: 250px;
    /* Full-width */
    height: 25px;
    /* Specified height */
    background: var(--big-dark);
    outline: none;
    /* Remove outline */
    opacity: 1;
    -webkit-transition: .2s;
    /* 0.2 seconds transition on hover */
    transition: opacity .2s;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.slider::-webkit-slider-thumb {
    /* -webkit-appearance: none; Override default look */
    appearance: none;
    width: 25px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    background: var(--primary-yellow); /* Green background */
    cursor: pointer; /* Cursor on hover */
    border-radius: 20%;
    

  }

  .sliderValue{
    background-color: var(--big-dark);
    margin-top: 10px;
    color: var(--primary-yellow);
    width: 140px;
    height: 28px;
    text-align: center;
    border-radius: 5px;
    padding: 14px 0px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

  }

